<a href="{{ path('add_alarm') }}">Додати</a>

<table>
    <tr>
        <td>Час</td>
        <td>Дні</td>
        <td>Повтор</td>
        <td>Довго</td>
        <td>Включений</td>
        <td>Залишилось</td>
        <td>Дія</td>
        <td></td>
    </tr>
    {% for key, alarm in alarms %}
        <tr>
            <td>{{ alarm.time | date('H:i') }}</td>
            <td>{{ alarm.days | join(',') }}</td>
            <td>{% if alarm.repeat %}Так{% else %}Ні{% endif %}</td>
            <td>{% if alarm.long %}Так{% else %}Ні{% endif %}</td>
            <td>{% if alarm.enabled %}Так{% else %}Ні{% endif %}</td>
            <td>{{ alarm.time | timeLeft }}</td>
            <td>{{ alarm.action }}</td>

            <td><a href="{{ path('edit_alarm',{'id':alarm.id }) }}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
